---
interface Props {
  color: string;
  genre: string;
}
const { color, genre } = Astro.props;
---

<div class={`flex justify-center items-center w-28 h-20 ${color} text-center text-white rounded-lg font-bold`}>
  <h1>{genre}</h1>
</div>
