---
interface Props {
  color: string;
  genre: string;
}
const { color, genre } = Astro.props;
---

<div class={`flex justify-center items-center xl:w-24 xl:h-20 w-full h-10 ${color} text-center text-white rounded-lg font-bold hover:scale-110 duration-150`}>
  <h1>{genre}</h1>
</div>
