<div class="max-w-full h-auto flex justify-center sm:justify-end items-center">
  <ul class="flex justify-center items-center gap-3">
    <i class="bx bxs-bell"></i>
    <i class="bx bxs-cog"></i>
    <li class="flex bg-gray-800 rounded-xl items-center">
      <div class="redondo">
        <img
          class="w-10 rounded-xl m-2"
          src="/img/profile.png"
          alt="Foto avatar"
        />
      </div>
      <a class="m-2 text-sm">Jhon Doe</a>
    </li>
  </ul>
</div>
<div class="rounded-lg bg-slate-800 mt-5 w-full">
  <div class="flex p-4 justify-between">
    <a>Player</a>
    <i class='bx bxs-playlist text-2xl' ></i>
  </div>
  <div class="flex flex-col justify-center items-center">
    <img class="rounded-lg w-52" src="/img/player.png" alt="" />
    <h1 class="text-2xl font-bold mt-4 mb-2">Ripple Echoes</h1>
    <h3 class="font-bold">Kael Fischer</h3>
    <p class="text-sm text-gray-500 mb-3">Best of 2024</p>
    <input class="mb-4" min="0" max="3" type="range" />
  </div>
  <div class="flex flex-col bg-blue-400 w-full rounded-lg">
    <ul class="flex justify-center items-center gap-3 py-6 lg:text-3xl text-3xl md:text-xl ">
      <i class="bx bx-repeat hover:scale-110 duration-200"></i>
      <i class="bx bx-skip-previous hover:scale-110 duration-200"></i>
      <div class="bg-white p-2 flex justify-center items-center rounded-xl">
        <i class="bx bx-play text-blue-400 hover:scale-110 duration-200"></i>
      </div>
      <i class="bx bx-skip-next hover:scale-110 duration-200"></i>
      <i class="bx bx-transfer-alt hover:scale-110 duration-200"></i>
    </ul>
    <div class="flex justify-center items-center flex-col mb-2">
      <i class="bx bxs-chevron-up hover:scale-110 duration-200"></i>
      <h3 class="text-xl font-bold hover:scale-110 duration-200">Lyrics</h3>
    </div>
  </div>
</div>
<style>
  .redondo {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    border-radius: 8px 0 0 8px;
  }
</style>
