<header>
  <div>
    <nav
      class="flex flex-col gap-4 hover:[&&>ul>li>span]: bg-gray-800 w-48 h-screen
    justify-center [&&>ul]:ml-5"
    >
      <h2 class="ml-4">RReproductor</h2>
      <ul class="flex flex-col gap-2">
        <h3 class="text-gray-500 text-xl">Menu</h3>
        <i class="bx bxs-bolt-circle"
          ><span class="ml-2 hover:text-purple-700 hover:scale-125"
            >Explore</span
          ></i
        >
        <i class="bx bxs-volume-full"
          ><span class="ml-2 hover:text-purple-700 hover:scale-125">Genres</span
          ></i
        >
        <i class="bx bxs-disc"
          ><span class="ml-2 hover:text-purple-700 hover:scale-125">Albums</span
          ></i
        >
        <i class="bx bxs-microphone">
          <span class="ml-2 hover:text-purple-700 hover:scale-125">Artists</span
          ></i
        >
        <i class="bx bxs-radio"
          ><span class="ml-2 hover:text-purple-700 hover:scale-125"
            >Poddcasts</span
          ></i
        >
      </ul>
      <ul>
        <h2 class="text-gray-500 text-xl">Librery</h2>
        <li>
          <span class="ml-2 hover:text-purple-700 hover:scale-125">Recent</span>
        </li>
        <li>
          <span class="ml-2 hover:text-purple-700 hover:scale-125">Album</span>
        </li>
        <li>
          <span class="ml-2 hover:text-purple-700 hover:scale-125"
            >Favorites</span>
        </li>
        <i class="bx bxs-folder"
          ><span class="ml-2 hover:text-purple-700 hover:scale-125">Local</span
          ></i
        >
      </ul>
      <ul>
        <h3 class="text-gray-500 text-xl">Playlist</h3>
        <li>
          <span class="ml-2 hover:text-purple-700 hover:scale-125"
            >Create New</span>
        </li>
        <li>
          <span class="ml-2 hover:text-purple-700 hover:scale-125"
            >Best 2023</span>
        </li>
        <li>
          <span class="ml-2 hover:text-purple-700 hover:scale-125"
            >Best 2022</span>
        </li>
        <li>
          <span class="ml-2 hover:text-purple-700 hover:scale-125"
            >Kael Fischer</span>
        </li>
      </ul>
    </nav>
  </div>
</header>
